{% extends 'base.html' %}
{% block content %}
<h2>Lista de Bebidas</h2>
<table class="table">
  <tr><th>#</th><th>Nome</th><th>Preço</th><th>Categoria</th><th>Ações</th></tr>
  {% for b in bebidas %}
  <tr>
    <td>{{ loop.index0 }}</td>
    <td>{{ b.get_nome() }}</td>
    <td>R$ {{ b.preco }}</td>
    <td>{{ b.get_categoria() }}</td>
    <td>
      <a href="{{ url_for('editar_bebida', indice=loop.index0) }}" class="btn btn-sm btn-primary">Editar</a>
      <form method="post" action="{{ url_for('excluir_bebida', indice=loop.index0) }}" style="display:inline">
        <button class="btn btn-sm btn-danger">Excluir</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
