{% extends 'base.html' %}
{% block content %}
<h2>Registrar Venda</h2>
<form method="post">
  <input name="cliente" class="form-control mb-3" placeholder="Nome do cliente">
  <h5>Selecione as bebidas:</h5>
  {% for b in bebidas %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="bebidas" value="{{ loop.index0 }}">
      <label class="form-check-label">{{ b.get_nome() }} - R$ {{ b.preco }}</label>
    </div>
  {% endfor %}
  <button class="btn btn-success mt-3">Registrar</button>
</form>
{% endblock %}
